<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me Page -  Python Meets FrontEnd </title>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
 <header>
</header> 
<main>
  <div class="text">
    <div class="text_inner">
      <h1 class="underline"><strong>Witaj na mojej stronie domowej</strong></h1> 
      <h1>Kontakt</h1>
      <ul>
        <li>email: pcandy@axon.com</li>
        <li>telefon: 555-444-999</li>
      </ul>
      <div class="contact">
        <h3><a href="index.html">Strona główna</a></h3>
      </div>
    <div class="send_message">
      <h3>Wyślij wiadomość</h3>
      <form action="Sumbit"></form>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
      <div class="btn_frame">
        <a href="" class="btn">Wyślij</a>
      </div>
    </div>
  </div>
</main>
</body>
</html>