{% extends "parent.html" %}
{% block content %}
      <h1>Kontakt</h1>
      <ul>
        {% for item in items %}
        <li>{{item}}</li>
        {% endfor %}
       </ul>
       <div class="contact">
        <h3><a href="me.html">Strona główna</a></h3>
      </div>
    <div class="send_message" method="post">
      <h3>Wyślij wiadomość</h3>
      <form action="#" method="post">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <br>
      <input type="submit" value="Wyślij">
    </form>
{% endblock %}
