<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me Page -  Python Meets FrontEnd </title>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   {% endblock %}
</head>
<body>
  <main class="a14">
    <div class="text a13">
      <div class="text_inner">
        <h1 class="underline"><strong>Witaj na mojej stronie domowej</strong></h1> 
        <div id="content">{% block content %}{% endblock %}</div>
      </div>     
    </div>
  </main>
</body>
</html>
